<div class="container">
  <div class="navbar">
    <h1 class="my-5">Book List 📚</h1>
    <button type="button" class="btn btn-primary btn-add">
    <%= link_to "Add a new list", new_list_path %>
    </button>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="cards col-6 col-lg-4">
        <%= link_to list_path(list) do %>
          <div class="card shadow p-3 mb-3">
            <h3 class="mb-3"><%= list.name %></h3>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>